<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICalcDaysOld" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/ServiceCalcing/CalcingDays"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICalcDaysOld"
                contract="ICalcDaysOld" name="WSHttpBinding_ICalcDaysOld">
                <identity>
                    <userPrincipalName value="DANIÉL\danie" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>